* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding-top: 20px;
}

.container-fluid .image {
  height: 60px;
  margin-left: 5px;
 
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;

}
.home{
  background-color: #007bff;
  color: #ddd;
}
.about:hover,
.leave:hover,
.piercing:hover,
.contact:hover {
  background-color: #007bff;
  color: #f1f4f8;

}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 13px;
}

nav ul li {
  position: relative;
  font-weight: bold;

  
}
.d-flex{
  gap:5px;
}
nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  padding: 10px;
}

.button {
  background-color: #e60b0b;
  color: white;
  padding: -2px 20px;
  border-radius: 5px;
  font-weight: bold;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:#eaf1f5;
  border: 1px solid #ddd;
  min-width: 200px;
  z-index: 1;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color:#4796CF ;
}

.dropdown-menu li a:hover {
  background-color: #4796CF;
  color: aliceblue;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
footer .company a{
  text-decoration: none;
  color: rgb(59, 54, 54);
  
}
footer .support a{
  text-decoration: none;
  color: rgb(59, 54, 54);
 
}
footer .f-logo img{
  width: 70%;
  max-width: 100%;
  margin-bottom: 10px;
}
footer .bottom-footer{
  text-align: center;
  margin-top: 20px;
}
 
footer .social-icons a:hover{
  color: #c74949;


}
footer .social-icons a{
  padding: 8px;
  font-size: 20px;
}
footer .followus{
  font-size: 26px;
  color: rgb(59, 54, 54)
}

.sec-1 {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 20px;
  margin-top: 30px;
  background-image:url(https://invernessegypt.com/img/about/piercing-bg.jpg);
  background-size: contain;
}

/* Text block styling */
.text-block {
  flex: 1;
  padding-right: 20px;
}

.text-block h2 {
  font-size: 2rem;
  color: #3274b8; 
  font-weight: bold;
}

.text-block p {
  font-size: 1rem;
  color: #333;
  text-align: start;
}

/* Image grid styling */

.image-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  flex: 1;
  max-width: 400px; 
}
.image-item img { 
  width: 100%;
  border-radius: 5px;
}
@media  (max-width: 768px) {
  .sec-1 {
    flex-direction: column; 
  }

  .text-block {
    padding-right: 0;
    text-align: start; 
  }

    .image-grid {
      display: flex;
      flex-wrap: nowrap; 
      
    }

  .image-item img {
    width: 80%; 
    margin: 0 auto;
  }
}

.aboutus {
  background-image: url(https://invernessegypt.com/img/about/home_about.jpg);
  background-position: center;
  background-size: cover;
  color: #f1f4f8;
  text-align: left;
  margin-top: 50px;
  padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
font-size: 1.5rem;
padding-bottom: 150px;
}
.aboutus button{
  display: flex;
  position: absolute;
  background-color: #3274b8;
  text-decoration: none;
  border-radius: 30px;
  color: #f1f4f8;
  font-size: 1rem;
  border-style: hidden;
  padding: 15px 5%;
  border: #0dcaf0;

}
.aboutus button:hover{
  background-color: #0dcaf0;
}

.addpro{
  
  
  background-color: #3274b8;
  text-decoration: none;
  border-radius: 30px;
  color: #f1f4f8;
  font-size: 1rem;
  border-style: hidden;
  padding: 15px 5%;
  border: #0dcaf0;

}
#card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

